
.card{
  display: flex;
  gap: 20px;
  width: 1200px;
  background: #FCC0C5;
  padding: 15px;
  border-radius: 10px;
 margin-bottom: 30px;
}

.card:hover{
  transform:scale(1.005);
  box-shadow:0 10px 20px rgba(0,0,0,0.3);
}

.card reverse{
  flex-direction: row-reverse;
}

.main-img{
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

video{
  width: 350px;
  border-radius: 15px;
  display: block;
  margin-top: 20px;
}

.text{
  flex: 1;
  color:#44290C;
  font-family:Corbel;
  font-size:20px;
}

.title-img{
  width: 220px;  
  height: auto;
  display: block;
}

.text h3{
  margin-bottom: 10px;
}

.sticker{
  position: fixed;
  width: 85px;
  pointer-events: none;
  animation: float 4s ease-in-out infinite;
}

/* Sticker positions */

.s1{
  top: 2.15%;
  left: -1.5%;
}

.s2{
  top:  2.15%;
  right: -1.25%;
  animation-delay: 1s;
  width: 155px;
}

.s3{
  bottom: 5%;
  left: 1%;
  animation-delay: 2s;
}

.s4{
  top:45%;
  right: 1%;
  animation-delay: 3s;
}

.s5{
  bottom: 1%;
  right: 1%;
  animation-delay: 1.5s;
}

/* Floating animation */

@keyframes float{
  0%{ transform: translateY(0); }
  50%{ transform: translateY(-15px); }
  100%{ transform: translateY(0); }
}

@media (max-width: 768px){
  .card{
    flex-direction: column; 
    width: 90%; 
  }

  .reverse{
    flex-direction: column; 
  }

  .main-img{
    width: 100%;
    height: auto;
  }
}

